@font-face {
    font-family: 'VisbyRound';
    src: url('VisbyRoundCF-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

body {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'VisbyRound', sans-serif;
    font-size: 20px;
    background-color: #2D046E;
    color: white;
    text-align: center;
}

.header {
    background-color: #2D046E;
    padding: 20px;
    border-bottom: 2px solid #FFA500;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

.header a {
    color: #FFA500;
    text-decoration: none;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

a {
    color: #492286;
    text-decoration: none;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

table {
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
    border-collapse: collapse;
    table-layout: fixed;
}

th {
    border: 1.5px solid #000000;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}

td {
    border: 1.5px solid #000000;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}

thead {
    background-color: #2D046E;
    color: white;
}

tbody tr {
    color: black;
}

tbody tr td:nth-child(1) {
    background-color: #FF787E;
}

tbody tr td:nth-child(2) {
    background-color: #FCD0CF;
}

tbody tr td:nth-child(3) {
    background-color: #D8ECF4;
}

tbody tr td:nth-child(4) {
    background-color: #C3E6CB; 
}

tbody tr td:nth-child(5) {
    background-color: #F8D7DA;
}

tbody tr td:nth-child(6) {
    background-color: #FDE2E4;
}

img {
    width: 100px;
    height: 100px;
    object-fit: cover; 
}

#telegramLink {
    font-size: 24px; /* Adjust the size as necessary */
    color: #0088cc; /* Typical Telegram color */
    font-weight: bold; /* Make the link bold */
    text-decoration: none; /* Remove underline */
    padding: 10px 20px; /* Add some padding to make it look bigger */
    background-color: transparent; /* Remove background to make it look like text */
    border: none; /* Remove any border */
    outline: none; /* Remove any outline on focus */
    border-radius: 0; /* Ensure no rounded corners */
    transition: all 0.3s ease; /* Add smooth transitions */
}

#telegramLink:hover {
    background-color: transparent; /* No background change */
    color: #005a87; /* Darker text color on hover */
    text-decoration: underline; /* Optionally add underline on hover */
}


@media only screen and (max-width: 768px) {
    body {
        font-size: 16px;
    }

    table {
        width: 100%;
        max-width: 100%; 
        display: block;
        overflow-x: auto;
        border-collapse: collapse;
    }

    th, td {
        padding: 8px;
        box-sizing: border-box;
        border: 1px solid #000000;
    }

    thead {
        display: table-header-group;
    }

    tbody tr {
        display: table-row;
        margin-bottom: 10px; 
        border: none;
        background-color: #fff;
    }

    td {
        display: table-cell;
        width: auto; 
        font-size: 14px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    td:nth-child(1), td:nth-child(2) {
        width: 50%; 
    }

    td:nth-child(6), th:nth-child(6) {
        display: none;
    }

    img {
        width: 70px;
        height: 70px;
    }
}
